* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: cecece;
}
/*-- HEADER -------------------------------------------------------*/
header {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;

  padding: 10px 20px;
}

#moves,
#timer {
  font-size: 3em;
  font-weight: bold;
}

/*-- MAIN ---------------------------------------------------------*/
main {
  min-width: 500px;
  width: 60vw;
  aspect-ratio: 1.48;
  margin: 30px auto;

  border-radius: 30px;
  border: 2px solid black;

  background-image: url('../img/ground2.png');
  background-position: center;
  background-size: cover;

  perspective: 1000px;

  display: flex;
  align-items: center;
}

#playGround {
  width: 88%;
  height: 83%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

div.card {
  width: 75px;
  height: 103px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;

  cursor: pointer;
}

div.front,
div.back {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}

div.front {
  background-color: white;
  transform: rotateY(0deg);
}

div.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background-image: url('/assets/img/card-back2.png');
  background-size: cover;
  background-position: center;
}

div.back img {
  width: 110%;
}

div.card.covered {
  transform: rotateY(180deg);
}

div.card.hidden {
  visibility: hidden;
}
